<!-- Slide Menu-->
<aside class="side-menu__container" [ngClass]="{'side-menu__container-active': showMenu}" (click)="toggleMenu()">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu}" (click)="$event.stopImmediatePropagation();">
      <section class="menu-header">
          <span class="greeting__text">Bien le bonjour !</span>
          <div class="account-details">
              <span class="name__text">Quentin Ackermann</span>
              <span class="email__text">Sbruh@vive-la-comm-et-les-systemes.eu</span>
          </div>
      </section>
      <section class="menu-body">
        Un tas d'informations importantes!
      </section>
      <section class="menu-footer">
  
      </section>
  </nav>
  </aside>
  
  <div [ngClass]="{'root__container-dark': darkModeActive}" class="root__container" >
      <header [ngClass]="{'main__header-dark': darkModeActive}" class="main__header">
  
          <div class="left__section">
            <svg (click)="toggleMenu()" class="hamburger__icon" id="Menu_Burger_Icon">
                <!-- <svg class="hamburger__icon" id="Menu_Burger_Icon" data-name="Menu Burger Icon" viewBox="31.5 30 49.9 32">
                  <rect id="Rectangle_9" width="49.9" height="4" class="hamburger__icon__fill" data-name="Rectangle 9" rx="2" transform="translate(31.5 58)"/><rect id="Rectangle_10" width="49.9" height="4" class="hamburger__icon__fill" data-name="Rectangle 10" rx="2" transform="translate(31.5 44)"/><rect id="Rectangle_11" width="49.9" height="4" class="hamburger__icon__fill" data-name="Rectangle 11" rx="2" transform="translate(31.5 30)"/>
                  <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/>
                </svg> -->
            </svg>
            <svg [ngClass]="{'hamburger__icon__fill-dark': darkModeActive}" class="hamburger__icon__fill" height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
  
          </div>
  
  
          <div class="mode-toggle__container">
              <span class="mode-toggle__text">Light</span>
  
              <label class="toggle-button__container">
                  <input (click)="modeToggleSwitch()" type="checkbox" class="mode-toggle__input" />
                    <span [ngClass]="{'mode-toggle__bg-checked': darkModeActive}" class="mode-toggle__bg"></span>
                    <span [ngClass]="{'mode-toggle__circle-checked': darkModeActive}" class="mode-toggle__circle"></span>
              </label>
  
  
              <span class="mode-toggle__text">Dark</span>
          </div>
  
      </header>
  
      <!-- Main Content -->
      <main class="main__container">
        <div class="container" [ngClass]="{'container-dark': darkModeActive}">
          <div class="tile">
            <app-weather></app-weather>
          </div>
          <div class="tile">
            <app-foodspots></app-foodspots>
          </div>
          <div class="tile">
            <div id="map" class="map"></div>
          </div>
       
        </div>
          
      </main>
  
  
    <footer class="main__footer" [ngClass]="{'main__footer-dark': darkModeActive}">
      <small  [ngClass]="{'copyright__text-dark': darkModeActive}" class="copyright__text">Copyright © 2020 Hackermann</small>
    </footer>
  </div>

