<div *ngIf="selectedFoodSpot" class="foodspot__image">
  <img style="width:500px; height: 300px;" [src]="selectedFoodSpot.profileImage"/>
</div>

<div class = "table__container">
  <p-table styleClass="choice__table" [value]="foodSpots">
    <ng-template pTemplate="header">
        <tr>
            <!-- <th *ngFor="let col of cols">
                {{col.header}}
            </th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
          <td *ngFor="let col of cols" [ngSwitch]="col.field" style="text-align:center;"> 
            <app-location *ngSwitchCase="'location'" [location]="rowData[col.field]"></app-location>
            <span *ngSwitchDefault> {{ rowData[col.field] }}</span>
            <div *ngIf="selectedFoodSpot" class="foodspot__image">
              <img style="width:32px; height: 32px;" [src]="selectedFoodSpot.menu"/>
            </div>
          </td>
          <button pButton type="button" icon="pi pi-chevron-up" label="Up" class="ui-button-raised ui-button-rounded" 
          (click)="upVotefunction($event)" style="margin-left: 2rem; margin-top: 0.75rem; background-color: rgb(54, 50, 50);"></button>
        </tr>
    </ng-template>
  </p-table>
</div>