<p-overlayPanel #menuOverlay>
  <h2>Extrait du menu :</h2>
  <div [innerHTML]="displayedMenu"></div>
</p-overlayPanel>

<div *ngIf="selectedFoodSpot" class="foodspot__image">
  <img style="width: 500px; height: 300px;" [src]="selectedFoodSpot.profileImage"/>
</div>

<div class = "table__container">
  <p-table styleClass="choice__table" [value]="foodSpots">
    <ng-template pTemplate="body" let-rowData>
        <tr [ngStyle]="{'background-color': rowData.color}">
          <td *ngFor="let col of cols;" [ngSwitch]="col.field" style="text-align:center;" > 
            <app-location *ngSwitchCase="'location'" [location]="rowData[col.field]"></app-location>
            <img *ngSwitchCase="'menu_image'" style="width: 32px; height: 32px; cursor: pointer;" [src]="rowData.menu_image" 
            (click)="showMenu(rowData, $event)"/>
            <span *ngSwitchDefault> {{ rowData[col.field] }}</span>
          </td>
          <td Style="width: 4em;">
            <button pButton type="button" icon="pi pi-chevron-up" (click)="upvote(rowData)" [disabled]="upvotedFoodspot===rowData"></button>
          </td>
        </tr>
    </ng-template>
  </p-table>
</div>